{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>
<form method="post" action="{%url 'displaycategory' %}" method="POST">
    {% csrf_token %}
    <label for ="category">Category</label>
    <select id ="category" name="category">
        {% for item in categories %}
        <option value="{{item}}">{{item}}</option>
        {% endfor %}
    </select>
    <button type="submit">Filter</button>
</form>
<div class="row max-3">
    {% for item in activeitems %}
    <div class="card mx-3" style="width:20rem">
        <img src="{{ietm.imageURL}}" alt="{{item.title}}"/>
        <div class= "card-body">
            <h5 class="card-title">{{item.title}}<h5>
                <p class="card-text">{{item.description}}</p>
                <a href="{% url "listing" item.id%}" class="btn btn-primary"> details </a>
    </div>
</div>
    {% endfor %}
{% endblock %}