{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <form action="{% url 'addwatchlist' details.id %}" method="POST">
        {% csrf_token %}
        <button type="submit"> Add to watchlist </button>
    </form>
    <form action="{% url 'removewatchlist' details.id %}" method="POST">
        {% csrf_token %}
        <button type="submit"> Remove to watchlist </button>
    </form>
    <h2>{{details.title}}</h2>
    <img src="{{details.imageURL}}" alt="{{details.title}}"/>
    <p> {{details.description}}</p>
    <p>{{details.owner}}</p>
    <h4>{{details.price}}</h4>
</div>

{% endblock %}